* {
    word-break: break-all;
}

:root {
    background-color: #410095;
    background-image: linear-gradient(
        180deg,
        rgb(65, 0, 149) 0%,
        rgb(101, 41, 169) 60%,
        rgb(180, 20, 100) 80%,
        rgb(255, 0, 0) 100%
    );
    background-repeat: no-repeat;
    background-attachment: scroll;

    min-height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.big-container, .small-button, .small-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;

    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    outline: 3px solid black;
    color: aliceblue;

    font-family: "Titan One", sans-serif;

    background-color: #1c0041;
    background-image: linear-gradient(180deg, rgb(28, 0, 65) 0%, rgb(85, 35, 141) 100%);
    background-attachment: scroll;
}

.big-container {
    font-size: 300%;
    width: 90%;
}

.small-grid {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);

    gap: 20px;
    padding: 10px;

    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    
    justify-items: center;
}

.small-button, .small-container {
    font-size: 3cqw;

    overflow: hidden; 
    word-break: break-word;
    text-align: center;

    container-type: inline-size;

    width: 100%;
    max-width: 800px;
    margin: 0;
    padding: 10%;
}

.small-button {
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    transition: transform 0.1s ease, filter 0.1s ease;
}

.small-container {
    font-size: 300%;
    width: 90%;
}

.small-button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.small-button:active {
    transform: scale(0.95);
    filter: brightness(0.8);
    transition: transform 0.05s;
}

/* Educational Context */

.big-container[data-label="revision-session"]::before {
    content: "PLAY ONLINE";
}

.small-button[data-label="host-study"]::before {
    content: "CREATE ROOM";
}

.small-button[data-label="join-study"]::before {
    content: "JOIN WITH ROOM CODE";
}

.big-container[data-label="local-session"]::before {
    content: "PLAY LOCALLY";
}

.small-button[data-label="create-local"]::before {
    content: "CREATE LOCAL ROOM";
}

.small-button[data-label="create-lan"]::before {
    content: "CREATE LAN ROOM";
}

.small-button[data-label="join-lan"]::before {
    content: "JOIN LAN ROOM";
}

footer {
    margin-top: auto;
    padding: 10px;
    font-size: 0.8em;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
}